{% extends "base.html" %}
{% block content %}

<style>
    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }
</style>
<script>
    $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    });
</script>

<div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
            {% if error %}
            <div class="alert alert-dismissable alert-warning">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="fa fa-times"></i>
            </button>
            </div>
            {% endif %}
            
            <h1><strong>WebSdf</strong></h1>
            <p>A free, open source Sdf viewer.<br>Created by <a href='https://github.com/samoturk'>Samo Turk</a>.</p>
            
            
            <form class="form-group center-block" action="/sdf" method="post" enctype="multipart/form-data" id="uploadform">
            {% csrf_token %}
                <span class="btn btn-primary btn-file"> 
                {{form}}
                </span>
                <p class="help-block">Select a SDF file.</p>
                
                <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#options" aria-expanded="false" aria-controls="options">
                <i class="fa fa-check-square-o"></i> Options
                </button>
                <br>
                <div class="collapse" id="options">
                <br>
                <div class="well">
                <p class="help-block">Descriptors</p>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default btn-xs">
                        <input type="checkbox" autocomplete="off" name="checks" value="MW"> MW
                    </label>
                    <label class="btn btn-default btn-xs">
                        <input type="checkbox" autocomplete="off" name="checks" value="logP"> logP
                    </label>
                    <label class="btn btn-default btn-xs">
                        <input type="checkbox" autocomplete="off" name="checks" value="HB"> HBA&HBD
                    </label>
                    <label class="btn btn-default btn-xs">
                        <input type="checkbox" autocomplete="off" name="checks" value="logS"> clogSw
                    </label>
                </div>
                <br>
                <p class="help-block">Smiles</p>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default btn-xs">
                        <input type="checkbox" autocomplete="off" name="checks" value="SMILES"> Show SMILES
                    </label>
                </div>
                
                </div>
                </div>    
                
                <br>
                <button class="btn btn-primary btn-lg" type="submit" value="sdf" name="sdf">
                    <i class="fa fa-upload"></i> Upload
                </button>
            
            </form>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}