{% extends "base.html" %}
{% block content %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.min.js"></script>
<script>
$(document).ready(function()
{
$("#table").tablesorter();
}
);
</script>

<div class="container">

<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="brand-heading"><strong>WebSdf</strong></h3>
    </div>
</div>
    <div class="row text-center">

    
<div class="table-responsive">
  <table class="table table-hover table-condensed" id="table">
        <thead>
                
        <tr>
        {% for colid in cols %}
        <th class="col-sm-1">{{colid}} <i class="fa fa-sort"></i></th>
         {% endfor %}
        </tr>
        
        </thead>
        <tbody>
        {% for row in rows %}
        
        <tr>
        {% for cell in row %}
        <td>{{cell|safe}}</td>
        {% endfor %}
        </tr>
        
        {% endfor %}
        
        </tbody>
        
  </table>
</div>
    
<!-- {{rows|safe}} -->

    </div>

</div>

{% endblock %}